* {
    font-family: robato;
    margin: 0;
}

.cont-header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.header-logo {
    display: flex;
    font-size: 24px;
    margin-left: 120px;
    color: #f9faf8;
    align-items: center;
    padding: 12px;
}

.header-menu {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    margin-right: 120px;
    align-items: right;
    justify-content: right;
    padding: 12px;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

li {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

a {
    color: white;
    text-decoration: none;
}

.cont-hero {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
}

.hero-column {
    background-color: #1F2937;
    display: flex;
    margin: 0px;
    flex-direction: column;
    max-width: 50%;
    justify-content: space-around;
    margin-bottom: 50px;
    padding: 12px;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;

    margin-left: 120px;
}

.hero-text {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    margin-left: 120px;
}

.btn {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 24px;
    width: fit-content;
    text-align: center;
    border-radius: 12px;
    margin-left: 120px;
    transition-duration: .3s;
}

.btn:hover {
    background-color: #f9faf8;
    color: #3882f6;
}

img {
    display: flex;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    align-items: center;
    border-radius: 12px;
}


.hero-image {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-right: 120px;
    margin-bottom: 50px;
    justify-content: center;
    padding: 12px;
    align-items: center;
}

.cont-1 {
    background-color: white;
    margin: 50px;
}

.cont-1-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    justify-content: center;
    margin: 50px
}

.row {
    display: flex;
    flex: auto;
    justify-content: space-around;
    margin: 10px;
}

.square {
    display: flex;
    width: 300px;
}

.caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    color: #1F2937;
    font-size: 16px;
}

.cont-2 {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    color: #1F2937;
    align-items: center;
    padding: 150px;
}

.quote {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
}

.quote-caption {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: 900;
    margin-left: auto;
}

.cont-3 {
    background-color: white;
}

.blue-shell {
    background-color: #3882f6;
    border-radius: 12px;
    margin: 150px;
}

.info-shell {
    display: flex;
    justify-content: space-between;
    margin: 120px;
    padding: 5%;
}

.call-column {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.call-title {
    font-size: 24px;
    font-weight: bold;
    color: #e5e7eb;
}

.call-text {
    font-size: 16px;
    color: #e5e7eb;
}

.button-column {
    display: flex;
    align-items: center;
    justify-content: end;
    border: 2px solid #f9faf8;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 12px;
    width: fit-content;
    text-align: center;
    border-radius: 12px;
    transition-duration: .3s;
}

.button-column:hover {
    background-color: #f9faf8;
    color: #3882f6;
}